<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"eryitang-main eryitang-home","layout":{"type":"default"}} -->
<main class="wp-block-group eryitang-main eryitang-home">
	<!-- wp:shortcode -->
	[eryitang_home_banner]
	<!-- /wp:shortcode -->
	<!-- wp:template-part {"slug":"home-intro","tagName":"div"} /-->
	<!-- wp:template-part {"slug":"home-heritage","tagName":"div"} /-->
	<!-- wp:shortcode -->
	[eryitang_home_doctors]
	<!-- /wp:shortcode -->
	<!-- wp:template-part {"slug":"home-therapies","tagName":"div"} /-->
	<!-- wp:template-part {"slug":"home-conditions","tagName":"div"} /-->
	<!-- wp:shortcode -->
	[eryitang_home_news]
	<!-- /wp:shortcode -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
