<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","className":"eryitang-main eryitang-contact","layout":{"type":"default"}} -->
<main class="wp-block-group eryitang-main eryitang-contact">
	<!-- wp:template-part {"slug":"contact-hero","tagName":"div"} /-->
	<!-- wp:shortcode -->
	[eryitang_contact_main]
	<!-- /wp:shortcode -->
	<!-- wp:shortcode -->
	[eryitang_contact_gallery]
	<!-- /wp:shortcode -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
